.opcoes{
    display: flex;
    justify-content: center;
}

.opcao{
    font-size: 15px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 5px;
    cursor: pointer;
    min-width: 120px;
}

li{
    list-style: none;
}
